<div class="rating" ng-if="readOnly">
  <span
  ng-repeat="i in starsArray"
  ng-class="{
    'ion-ios-star': animalRating >= i,
    'ion-ios-star-outline': animalRating < i,
    active: animalRating >= i,
    big: big,
    small: small}">
  </span>

</div>

<div class="rating" ng-if="!readOnly">

  <span ng-repeat="i in starsArray"
    ng-class="{
      'ion-ios-star': animalRating >= i,
      'ion-ios-star-outline': animalRating < i,
      active: animalRating >= i,
      inactive: animalRating < i,
      big: big,
      small: small
    }"
    ng-click="rateAnimal(i)">
  </span>


</div>
