/* Empty. Add your own CSS if you like */
a {
  text-decoration: none;
  color: inherit;
}


.clickable:hover {
  cursor: pointer;
  background-color: #00002F;
}

#contentWrapper {

}

.scroll {
  height: 100%;
}

#googleMap{
  width: 100%;
  height: 100%;
}
