<ion-view cache-view="false">
        <ion-content ng-hide="loading">
          <div class="card">

            <div class="item item-icon-left assertive" href="#" id="animalHomeAvatarLabel">
                <i class="icon ion-information"></i> <!-- ion-ios-body -->
                {{translate("ANIMAL_HOME_SCREEN")}}
            </div>
            <div class="item item-avatar">
                <img src="css/images/{{animalId}}.jpg">
                <h2 id="animalHomeLabel">{{getAnimalLabel()}}</h2>
                <p>ZOO Brno</p>
                <zoo-rating-stars animal-id="animalId" small="true" read-only="true"></zoo-rating-stars>
            </div>
            <div class="item item-body">
                <img class="full-image" src="css/images/{{animalId}}2.jpg">
            </div>
            <p id="rateme">{{translate("RATE")}}</p>
            <zoo-rating-stars animal-id="animalId" big="true" already-rated="alreadyRated"></zoo-rating-stars>


          </div>

        </ion-content>

        <ion-content ng-show="loading">
          <p>
            <ion-spinner icon="spiral" class="spinner"></ion-spinner>
          </p>
        </ion-content>
    </ion-view>
