<ion-side-menus>

  <ion-side-menu-content enable-menu-with-back-views="false">
    <ion-nav-bar>
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
       <!-- Toggle left side menu -->
       <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>

    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>

  </ion-side-menu-content>

  <!-- Left menu -->
  <ion-side-menu side="left" is-enabled="true">

    <ion-header-bar>
      Actions for {{animal.label}}
    </ion-header-bar>

    <ion-content has-header="true">
      <ion-list>
        <ion-item class="clickable" ui-sref="Animal.forChildren" menu-close>
          <i class="icon ion-ios-body"></i>
          For Children
        </ion-item>
        <ion-item class="clickable" ui-sref="Animal.forAdults" menu-close>
          <i class="icon ion-man"></i>
          For Adults
        </ion-item>
        <ion-item class="clickable" ui-sref="Animal.forAdults" menu-close>
          <i class="icon ion-volume-medium"></i>
          Audio
        </ion-item>

        <ion-item class="clickable" ui-sref="Animal.map" menu-close>
          <i class="icon ion-man"></i>
          Map
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>
