<ion-view title="{{getAnimalLabel()}}">

<ion-content>
<div class="list card">

	<div class="item item-icon-left positive" href="#">
    	<i class="icon ion-ios-body"></i>
    	{{translate("FOR_CHILDREN")}}
  	</div>

	<div class="item item-avatar">
		<img src="css/images/{{animalId}}.jpg">
		<h2>{{getAnimalLabel()}}</h2>
		<p>ZOO Brno</p>
		<zoo-rating-stars animal-id="animalId" small="true" read-only="true"></zoo-rating-stars>
	</div>

	<div class="item item-body">
		<img class="full-image" src="css/images/{{animalId}}0.jpg">
		<p>{{getTextForChildren()}}</p>
		<img class="full-image" src="css/images/{{animalId}}2.jpg">
		<img class="full-image" src="css/images/{{animalId}}3.jpg">
	</div>
</div>
</ion-content>

</ion-view>
