<ion-pane>
  <ion-header-bar class="bar-stable">
    <h1 class="title">ZOO Brno</h1>
  </ion-header-bar>
  <ion-content id="contentWrapper">
    <div class="list">
      <button ng-click="loadAnimal()" class="button button-dark button-full icon-left ion-play">
        Read QR
      </button>
      <button class="button button-dark button-full icon-left ion-social-rss">
        News
      </button>
      <button ng-click="quit()" class="button button-dark button-full icon-left ion-android-exit">
        Quit
      </button>
    </div>
  </ion-content>
</ion-pane>
