@charset "UTF-8";
.rating {
  margin: auto;
  width: 300px;
}
.rating > * {
  float: left;
}

.big {
  font-size: 60px;
}

.small {
  font-size: 10px;
}

.small:hover, .big:hover {
  color: #5e5e5e;
  text-shadow: 0 0 15px #5e5e5e;
}

.rating .active {
  color: #F9BF3B;
}

#rateme {
  font-family: cursive;
  font-size: 30px;
  color: #222222;
  margin-top: 15px;
  text-align: center;
}
