/* Empty. Add your own CSS if you like */
a {
  text-decoration: none;
  color: inherit;
}


.clickable:hover {
  cursor: pointer;
  background-color: #00002F;
}

#contentWrapper {
  width: 100%;
  height: 100%;
  background-image: url("../img/lion-home.jpg");
  background-position: center;
}

#contentWrapper div.list.card{
  opacity: 0.9;
  background-color: #666;
  position: relative;
}

.scroll {
  height: 100%;
}

#googleMap{
  width: 100%;
  height: 100%;
}

#zooNewsHeader {
  margin: 0px;
  padding: 0px;
}

#zooNewsHeader button {
  margin: 0px;
  padding: 0px;
}

#homeHeader {
  text-align: center;
  display: inline-block;
  position: relative;
  opacity: 0.9;
  background-color: #123;
}

#homeHeader .title{
  color: white;
}

#homeFooter{
  background-color: #123;
  opacity: 0.9;
}

#homeFooter .buttons .button {
  background-color: #777;
}

#paragraphForAdults {
  white-space: pre-line;
  /*background-image: url("../img/lion-home.jpg");*/
}

#paragraphForChildren {
	white-space: pre-line;
}

.langBtn {
  padding: 0px !important;
  background-color: inherit;
  border-style: none;
}

.langBtn img {
  display: block;
  width: 80%;
  height: 100%;
  position: relative;
}

.langButtons {
  background-color: inherit;
  width: 15%;
  position: relative;
  display: block;
  padding: 0px !important;
}
